/* contactCSS.css */

/* Στυλ για το body */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #FF7E5F, #FEB47B); /* Ντεγκραντέ φόντο */
    margin: 0;
    padding: 0;
    color: #333;
    padding-top:80px;
}

/* Κύριο container επικοινωνίας */
.contact-container {
    background-color: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.contact-container h1 {
    font-size: 28px;
    color: #FF5722;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Στοιχεία επικοινωνίας */
.contact-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.contact-info p strong {
    color: #FF5722;
}

/* Στυλ για τη φόρμα */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

form div {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

form label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

form input, 
form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
    box-sizing: border-box;
}

form input:focus, 
form textarea:focus {
    border-color: #FF5722;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.2);
}

form textarea {
    resize: none;
    height: 100px;
}

/* Στυλ για το κουμπί */
form button {
    width: 100%;
    max-width: 200px;
    background-color: #FF5722;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
}

form button:hover {
    background-color: #E53935;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button:active {
    transform: translateY(0);
    box-shadow: none;
}

/* Responsive στυλ */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }

    form div {
        max-width: 100%;
    }

    form button {
        max-width: 100%;
    }
}
