html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 40px!important;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 18px !important;
}

.fa-map-marker-alt, .fa-phone-alt, .fa-envelope {
    color: #ff6600;
}

.footer-column {
    min-width: 200px;
    margin: 10px;
    text-align: center;
    font-size: 18px !important;
}

.footer-column h3 {
    margin-bottom: 10px;
    color: #ff6600;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-column ul li {
    margin: 5px 10px;
}

.footer-column ul li a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ff6600;
}

.footer-column .social-icons a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-column .social-icons a:hover {
    color: #ff6600;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none;
    color: #ff6600;
    cursor: pointer;
}