html, body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.subtitle{
    margin-bottom: 30px;
    margin-top: 30px;
}

.about-title{
    text-align: center;
    color: #ff6600;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    width: 450px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin: auto; /* Κεντράρει τη φόρμα στη μέση της σελίδας */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

.form-group input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s;
}

.form-group input:focus {
    border-color: #ff6600;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 94, 98, 0.5);
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background: #ff6600;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background: #ff6600;
}

.error-message {
    color: red;
    font-size: 14px;
}

/* Footer Σωστά Στο Κάτω Μέρος */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    margin-top: auto; /* Το footer κάθεται στο κάτω μέρος */
}
