.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #ff6600;
}

.categories {
    width: 20%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories li {
    padding: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.categories li:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.categories li.active {
    background-color: #d0d0d0;
    font-weight: bold;
}

.products {
    width: 80%;
    padding: 10px;
}

.category-products {
    display: none;
}

.product-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.product-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.product-info {
    flex-grow: 1;
    text-align: left;
}

.product-info h4 {
    margin: 10px 0;
}

.product-info p {
    margin: 5px 0;
}

.product-actions {
    text-align: right;
}

.categories-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    color: #ff6600;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.edit-product {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px!important;
}
.edit-product:hover {
    background-color: #e65c00;
}
.name {
    color: #ff6600;
    text-align: start;
}

.stock {
    color: #ff6600;
    text-align: start;
}
.product-name {
    font-weight: bold;
    font-size: 12px;
    width: 50%;
    text-align: center;
}
.product-stock {
    font-weight: bold;
    font-size: 12px;
    width: 50%;
    text-align: center;
}

#editModal, #deleteModal, #successModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    z-index: 1000;
    width: 500px;
    text-align: center;
}

#editModal h2, #deleteModal h2, #successModal h2 {
    color: #ff6600;
    margin-bottom: 20px;
}

#modalBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-button {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

.modal-button:hover {
    background-color: #e65c00;
}