section {
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-20px;
}

.explore-btn {
    padding: 10px 40px; /* Increase padding to make the buttons wider */
    margin: 10px;
    background-color: #FF5722;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: auto; /* Ensure the width is auto to accommodate the padding */
}

.explore-btn a {
    text-decoration: none;
    color: inherit;
}

.explore-btn:hover {
    background-color: #E64A19;
}

.menu-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px;
    background: #f4f4f4;
}

#hoverText a:hover {
    color: #ff6600; 
    text-decoration: underline;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    width: 120px; 
}
.menu-icon i {
    margin-right: 10px;
}

.menu-text {
    margin-left: auto; 
    text-align: right; 
}
.menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 250px; /* Κάνουμε το menu πιο μαζεμένο */
    position: absolute;
    z-index: 1000;

    max-height: 400px; /* Περιορισμός ύψους */
    overflow-y: auto; 
}

#dropdownMenu {
    max-height: 600px;
    width: 800px; 
    overflow-y: auto; 
}

.menu.active {
    display: block;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-header {
    cursor: pointer;
}

.menu-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.submenu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
}

.menu-item.active .submenu {
    display: block; /* Εμφάνιση του υπομενού όταν είναι ενεργό */
}

.submenu li {
    padding: 5px 10px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s ease;
}

.submenu li a:hover {
    color: #ff6600;
}
.info-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px; 
    color: #161615;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold; 
}

.info-item i {
    color: #ff6600; 
    font-size: 16px; 
}

.info-item strong {
    color: #ff6600; 
}

/* CSS for Profile Page */
.profile-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-title {
    color: #ff6600;
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-box {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-box strong {
    color: #ff6600;
    font-size: 16px;
}

.profile-actions {
    text-align: center;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn-edit, .btn-return {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-edit:hover, .btn-return:hover {
    background-color: #e65500;
}

/* CSS for Profile editing */
.profile-edit-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.profile-edit-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ff6600;
}
.form-section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align:center;
    margin-bottom: 10px;
    font-size: 20px;
    color: #ff6600;
}
.profile-edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    display:block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
    color: #ff6600;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.success-message {
    margin: 10px 0;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.readonly-input {
    background-color: #f5f5f5; 
    color: #666; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px;
    cursor: not-allowed;
}
.password-input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between; /* Κενό στη μέση */
    align-items: center;
    width: 100%;
    max-width: 500px; /* Περιορίζει το συνολικό πλάτος */
    margin: 0 auto;
}

.btn-save, .btn-cancel {
    padding: 10px 40px;
    background-color: #FF5722;
    font-size: 16px;
    font-weight: bold; /* Κάνει τα γράμματα έντονα */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: auto;
}

.btn-save:hover, .btn-cancel:hover {
    background-color: #E64A19;
}

@media (max-width: 1366px) {
    .menu-icon {
        font-size: 14px;
    }
    .menu-title{
        font-size: 16px;
    }
    .info-bar {
        font-size: 14px;
    }
    .search-title {
        font-size: 18px;
    }
    .explore-btn{
        font-size: 14px;
    }
    .submenu li a {
        font-size:14px;
    }
}