body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.order-preview-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.order-preview-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    color: #ff6600;
}

.order-date {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    color: #555;
}

.order-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-info, .order-info {
    width: 48%;
}

.customer-info h3, .order-info h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ff6600;
    text-align: center;
}

.order-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

.status-icon {
    color: #ff6600;
    font-size: 18px;
}

.order-items {
    margin-top: 20px;
}

.order-items h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ff6600;
    text-align: center;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

.order-total {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: right;
}
.order-info-title {
    text-align: start!important;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.order-status {
    text-align: center;
    color: #333;
    font-size: 18px; 
    margin-top: 20px;
    margin-bottom: 20px;
}
    .btn-success {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 1366px) {
    
    .order-preview-title, .order-items h3 {
        font-size: 18px;
    }
    .customer-info h3, .order-info h3{
        font-size: 17px;
    }
}