.h1 {
    text-align: center;
    font-size: 2rem;
    color: #FF6600;
    margin-bottom: 20px;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.profile-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #ff6600;
}

.profile-details {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Αφήνει κενό μεταξύ των sections */
}

.profile-section {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ff6600;
    margin-bottom:20px;
}

.profile-box {
    margin-bottom: 10px;
}

.profile-box strong {
    display: block;
    font-size: 16px;
    color: #ff6600;
}

.profile-box p {
    margin: 5px 0;
    font-size: 16px;
    color: #777;
}

.profile-actions {
    text-align: center;
}

.btn-edit, .btn-return {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-edit:hover, .btn-return:hover {
    background-color: #ff4500;
}