.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.product-item {
    width: calc(20% - 20px);
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: #eeeeef;
}

.product-img {
    width: 100%;
    height: 200px; /* Σταθερό ύψος για όλες τις εικόνες */
    object-fit: contain; /* Θα διατηρηθεί ολόκληρη η εικόνα χωρίς να κοπεί */
}

.product-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.price {
    font-size: 16px;
	font-weight: bold;
    color: #FF5722;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #E53935;
}
